In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Bengaluru_House_Data.csv')
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [14]:
temp = df[['total_sqft', 'balcony', 'price']][df['total_sqft'] == df['total_sqft'].min()]
temp

     total_sqft  balcony  price
4086          1      NaN  120.0

In [18]:
col = df.columns
col

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [26]:
col = list(col)
new_col = col[1:2] + col[0:1] + col[2:]
new_col

['availability',
 'area_type',
 'location',
 'size',
 'society',
 'total_sqft',
 'bath',
 'balcony',
 'price']

In [29]:
temp = df
temp.columns = new_col

In [30]:
temp

,availability,area_type,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [36]:
df.set_index('size', inplace = True)
df.loc['2 BHK']

,availability,area_type,location,society,total_sqft,bath,balcony,price
size,,,,,,,,
2 BHK,Super built-up Area,19-Dec,Electronic City Phase II,Coomee,1056,2.0,1.0,39.07
2 BHK,Super built-up Area,Ready To Move,Kothanur,NaN,1200,2.0,1.0,51.00
2 BHK,Super built-up Area,Ready To Move,Whitefield,DuenaTa,1170,2.0,1.0,38.00
2 BHK,Super built-up Area,Ready To Move,7th Phase JP Nagar,Shncyes,1000,2.0,1.0,38.00
2 BHK,Built-up Area,Ready To Move,Gottigere,NaN,1100,2.0,2.0,40.00
...,...,...,...,...,...,...,...,...
2 BHK,Super built-up Area,Ready To Move,Annaiah Reddy Layout,NaN,1075,2.0,2.0,48.00
2 BHK,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,GrrvaGr,1187,2.0,2.0,40.14
2 BHK,Super built-up Area,Ready To Move,Rachenahalli,NaN,1050,2.0,2.0,52.71
2 BHK,Super built-up Area,Ready To Move,Bellandur,NaN,1262,2.0,2.0,47.00
2 BHK,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,Mahla T,1141,2.0,1.0,60.00

In [37]:
df.reset_index(inplace = True)

In [38]:
df

,size,availability,area_type,location,society,total_sqft,bath,balcony,price
0,2 BHK,Super built-up Area,19-Dec,Electronic City Phase II,Coomee,1056,2.0,1.0,39.07
1,4 Bedroom,Plot Area,Ready To Move,Chikka Tirupathi,Theanmp,2600,5.0,3.0,120.00
2,3 BHK,Built-up Area,Ready To Move,Uttarahalli,NaN,1440,2.0,3.0,62.00
3,3 BHK,Super built-up Area,Ready To Move,Lingadheeranahalli,Soiewre,1521,3.0,1.0,95.00
4,2 BHK,Super built-up Area,Ready To Move,Kothanur,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,5 Bedroom,Built-up Area,Ready To Move,Whitefield,ArsiaEx,3453,4.0,0.0,231.00
13316,4 BHK,Super built-up Area,Ready To Move,Richards Town,NaN,3600,5.0,NaN,400.00
13317,2 BHK,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,Mahla T,1141,2.0,1.0,60.00
13318,4 BHK,Super built-up Area,18-Jun,Padmanabhanagar,SollyCl,4689,4.0,1.0,488.00
13319,1 BHK,Super built-up Area,Ready To Move,Doddathoguru,NaN,550,1.0,1.0,17.00

In [8]:
temp = df.fillna(0)
temp

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,0,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,0,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,0,3600,5.0,0.0,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,0,550,1.0,1.0,17.00